@page
@model FormsApp.Pages.SignUp.SignUpModel

@{
    ViewData["Title"] = "Create";
}

<h2>Sign Up</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.Message</p>
        @if (!Model.State)
        {
            <form method="post" asp-page-handler="CheckEmail" asp-route-id="@Model.Id">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoursePassword" class="control-label"></label>
                    <input asp-for="CoursePassword" class="form-control" />
                    <span asp-validation-for="CoursePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Check" class="btn btn-default" />
                </div>
            </form>
        }
        else
        {
            <form method="post" asp-page-handler="CreateNew" asp-route-id="@Model.Id">
                <div class="form-group">
                    <label asp-for="StudentVM.Email" class="control-label"></label>
                    <input asp-for="StudentVM.Email" class="form-control" />
                    <span asp-validation-for="StudentVM.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoursePassword" class="control-label"></label>
                    <input asp-for="CoursePassword" class="form-control" />
                    <span asp-validation-for="CoursePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentVM.LastName" class="control-label"></label>
                    <input asp-for="StudentVM.LastName" class="form-control" />
                    <span asp-validation-for="StudentVM.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentVM.FirstMidName" class="control-label"></label>
                    <input asp-for="StudentVM.FirstMidName" class="form-control" />
                    <span asp-validation-for="StudentVM.FirstMidName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentVM.Faculty" class="control-label"></label>
                    <select asp-for="StudentVM.Faculty" class="form-control" asp-items="Html.GetEnumSelectList<FormsApp.Models.Faculty>()"></select>
                    <span asp-validation-for="StudentVM.Faculty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
